{% extends "base.html" %}

{% block titulo %}Agendamentos{% endblock %}

{% block conteudo %}
<h2>Agendamentos</h2>
<p><a href="{% url 'agendamentos:agendamento_create' %}">Novo agendamento</a></p>
<ul>
    {% for agendamento in agendamentos %}
        <li>
            {{ agendamento.data_hora }} - {{ agendamento.cliente }} - {{ agendamento.profissional }} - {{ agendamento.status }}
            <a href="{% url 'agendamentos:agendamento_update' agendamento.pk %}">Reagendar</a>
            {% if agendamento.status != 'CANCELADO' %}
                <form method="post" action="{% url 'agendamentos:agendamento_cancelar' agendamento.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Cancelar</button>
                </form>
            {% endif %}
        </li>
    {% empty %}
        <li>Nenhum agendamento cadastrado.</li>
    {% endfor %}
</ul>
{% endblock %}
